
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.timebadge {
    cursor : pointer;
    position: absolute; 
}

.timebadge:hover {
    z-index: 1000;
}


