<div class="navbar default-color z-depth-1">
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand ">
                <i id="icon" class="fa fa-film z-depth-1-half" style="text-shadow: rgb(0, 74, 64) 0px 0px 0px, rgb(0, 80, 70) 1px 1px 0px, rgb(0, 86, 75) 2px 2px 0px, rgb(0, 92, 81) 3px 3px 0px, rgb(0, 99, 86) 4px 4px 0px; font-size: 40px; color: rgb(255, 255, 255); height: 66px; width: 66px; line-height: 66px; border-radius: 50%; text-align: center; background-color: rgb(0, 105, 92);"></i>
            </a>
            @Html.ActionLink("Lviv Cinemas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-header" })

        </div>
        <div class="navbar-collapse collapse">
            @if (ViewBag.IsAuth)
            {
                <ul class="nav navbar-nav navbar-right" ng-show="!layout.authData.isAuth">
                    <li><a href="#" class="waves-effect waves-light"><span class="glyphicon glyphicon-log-in"></span> Hello @ViewBag.Name</a></li>
                    @if (ViewBag.IsAdmin)
                    {
                        <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "waves-effect waves-light" }) </li>
                    }
                    <li><a href="/logout" class="waves-effect waves-light"><span class="glyphicon glyphicon-registration-mark"></span> Sign Out</a></li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right" ng-show="!layout.authData.isAuth">
                    <li><a href="#" data-toggle="modal" data-target="#login" class="waves-effect waves-light"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#register" class="waves-effect waves-light"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
                </ul>
            }

        </div>
    </div>
</div>
