@using MovieDomain.Entities
@using MovieDemo.Models
@model Showtime
<a class="badge white-text @ViewBag.Color lighten-1 hoverable timebadge"
      style="left: @ViewBag.Position%"
      href="@Model.OrderUrl">
    @Model.Date.ToShortTimeString()
</a>